/*
Student Name: Johnny Touch
Student ID: 5154729
*/

/* Applied a box-sizing globally to prevent padding/border overflow */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set root HTML element using font shorthand property and background color*/
html {
    background-color: #FFF;
    font: normal small-caps normal 20px "Amiri", serif;
}

/* Applied max width, center content with margin, padding, border, and background color */

body {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    border: 0.5rem solid #007A3D;
    background-color: #d9f0e4;
}

/* Added padding to main, aside, used floats to position main and aside for 70/30 layout and
set footer to have clear */

main {
    float: left;
    width: 70%;
    padding: 1rem;
}

aside {
    float: left;
    width: 30%;
    padding: 1rem;
}

/* Decreased font size of the footer, added gradient background, centered footer text */
footer {
    clear: both;
    font-size: 0.9rem;
    background-image: linear-gradient(to right, #d9f0e4, #7a0025ea);
    text-align: center;
}

/* Added header styling and increased font size, changed color, added gradient background, 
and centered text */
header {
    font-size: 2.5rem;
    color: #007A3D;
    background-image: linear-gradient(to right, #d9f0e4, #7a0025ea);
    text-align: center;
}

/* Added styling to blockquote */

/* Added green left border, decreased width, and created a lifting effect */
blockquote {
    font-style: italic;
    background-color: #F9F9F9;
    padding: 1rem;
    border-left: 0.5rem solid #007A3D;
    width: 80%;
    margin: 1rem auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

/* Added styling to figure, figcaption, and img */

figure {
    border: 0.3rem solid #007A3D;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #F9F9F9;
    text-align: center;
}

/* Centered the image and decreased width */
figure img {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0.2rem solid #007A3D;
    border-radius: 0.5rem;
}

/* Decreased font size and adjusted to small caps */
figcaption {
    font-size: 0.9rem;

    font-variant: small-caps;
    text-align: center;
}

/* Added styling to iframe to add a green border, make it block level, center iframe,
and decreased width */

iframe {
    border: 0.3rem solid #007A3D;
    display: block;
    margin: 1rem auto;
    width: 80%;
}

/* Type selector applies a light green background color to all body elements */
h1 {
    color: #007A3D;
}

/* Add styling to h2 section headers */

h2 {
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    font-family: "Amiri", serif;
    color: #007A3D;
    text-align: center;
}

/* Added styling to ID selector famous-quote to include a border, box shadow, 
decrease width, font-family, style, color, padding, and center using margin */
#famous-quote {
    border: 0.3rem solid #007A3D;
    box-shadow: 0 0.5 rem 1rem rgba(0, 0, 0, 0.5);
    width: 80%;
    font-family: "Amiri", serif;
    font-style: italic;
    color: #7a0025ea;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}

/* Added styling for links and lists and updated pseduo-class selector */

/* Green color for normal links and removed the underline */
a:link {
    color: #007A3D;
    text-decoration: none;

}

a:visited {
    color: #480082;
    /* Purple color for visited links */
}

/* Pseudo-class selector applies an underline when hovering over links */

/* Reddish color when hovering over */
a:hover {
    color: #7a0025ea;
    text-decoration: underline;
}

/* Orange color when clicked */
a:active {
    color: #FFA500;
}

/* Remove the bullets remove indentation */
ul {
    list-style-type: none;
    padding-left: 0;
}

/* Added styling to table */

/* Made table full-width with collpased borders and set bottom margin to use rem */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

/* Aligned text left, changed the font weight and variant and colour and 
set a background colour */
th {
    text-align: left;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #F9F9F9;
    color: #007A3D;
    padding: 0.5rem;
}

/* Set padding and borders use rem units */
td {
    border: 0.1rem solid #007A3D;
    padding: 0.5rem;
}

/* Alternate row colors with nth-child */
tr:nth-child(even) {
    background-color: #ffdee8ea;
}

/* Highlight rows on hover */
tr:hover {
    background-color: #D0F0C0;
}

/* Added styling to form labels and inputs */

/* Styled form-label and applied font variant, weight and colour */
.form-label {
    font-variant: small-caps;
    font-weight: bold;
    color: #007A3D;
}

/* Styledform-control with padding, border, rounded corners, spacing,
adjusted widths so that all form controls are the same width using rem units */
.form-control {
    padding: 0.5rem;
    border: 0.1rem solid #007A3D;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}


/* Class selector applies a green border color around form fields*/
.form-fields {
    border: 2px solid #007A3D;
}


/* Attribute selector which targets input elements with type submit and applies a green background with
white text */
input[type="submit"] {
    background-color: #007A3D;
    color: #FFF;
}

/* Added responsive design to adjust layout and styles for smaller screens */

@media (max-width: 768px) {
    html {
        font-size: 16px
    }

    body {
        padding: 1rem;
    }

    main,
    aside {
        float: none;
        width: 100%;
    }

}