/*
Student Name: Johnny Touch
Student ID: 5154729
*/

/* Set root HTML element using font shorthand property and background color*/
html {
    background-color: #FFF;
    font: normal small-caps normal 20px "Amiri", serif;
}

/* Applied max width, center content with margin, padding, border, and background color */

body {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    border: 0.5rem solid #007A3D;
    background-color: #d9f0e4;
}

/* Added padding to main, aside, used floats to position main and aside for 70/30 layout and
set footer to have clear */

main {
    float: left;
    width: 70%;
    padding: 1rem;
}

aside {
    float: left;
    width: 30%;
    padding: 1rem;
}

footer {
    clear: both;
    font-size: 0.9rem;
    /* Decreased font size of the footer */
    background-image: linear-gradient(to right, #d9f0e4, #7a0025ea);
    /* Added gradient background */
    text-align: center;
    /* Center footer text */
}

/* Added header styling and increased font size, changed color, added gradient background, 
and centered text */
header {
    font-size: 2.5rem;
    color: #007A3D;
    background-image: linear-gradient(to right, #d9f0e4, #7a0025ea);
    text-align: center;
}

/* Added styling to blockquote */

blockquote {
    font-style: italic;
    background-color: #F9F9F9;
    padding: 1rem;
    border-left: 0.5rem solid #007A3D;
    /* Added green left border */
    width: 80%;
    /* Reduced width */
    margin: 1rem auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    /* Created a lifting effect */
}

/* Added styling to figure, figcaption, and img */

figure {
    border: 0.3rem solid #007A3D;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fce8eeea;
    text-align: center;
}

figure img {
    display: block;
    margin: 0 auto;
    /* Centered the image */
    width: 80%;
    /* Reduced width of image using %*/
    border: 0.2rem solid #007A3D;
    border-radius: 0.5rem;
}

figcaption {
    font-size: 0.9rem;
    /* Decreased font size */
    font-variant: small-caps;
    /* Adjusted to small caps */
    text-align: center;
}



/* Type selector applies a light green background color to all body elements */
h1 {
    color: #007A3D;
}

/* Add styling to h2 section headers */

h2 {
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    font-family: "Amiri", serif;
    color: #007A3D;
    text-align: center;
}

/* Class selector applies a green border color around form fields*/
.form-fields {
    border: 2px solid #007A3D;
}

/* ID selector applies the Amiri font to an element */
#famous-quote {
    color: #007A3D;
}

/* Pseduo-class selector applies an underline when hovering over links */
a:hover {
    text-decoration: underline;
}

/* Attribute selector which targets input elements with type submit and applies a green background with
white text */
input[type="submit"] {
    background-color: #007A3D;
    color: #FFF;
}